* {
  font-family: "Schoolbell", cursive;
  color: var(--text);
  font-weight: 600;
}

:root {
  --bg: #90845d;
  --surface: #b4af86;
  --text: #705241;
  --accent: #cfcaa5;
  --shadow: rgba(0, 0, 0, 0.3);
}

h1,
h2 {
  font-family: "Beth Ellen", cursive;
  font-size: 0.8rem;

  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 50% auto 50%;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg);
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

.left,
.right {
  aspect-ratio: 1/1;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top {
  margin: 0 auto 0 auto;
  width: 40dvw;
  display: flex;
  justify-content: left;
}

.notchPill {
  border-radius: 43px;
  width: 20.5dvw;
  height: 3.5dvw;
  background-color: var(--accent);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 150px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroPill,
.timePill {
  height: 3dvw;
  border-radius: 43px;
  background-color: var(--accent);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroPill {
  box-shadow: var(--shadow) 0px 0px 20px 1px;
  width: 8dvw;
}

.timePill {
  justify-content: space-around;
  box-shadow: var(--shadow) 0px 0px 20px 1px;
  width: 11dvw;
}

.fa-radio {
  color: var(--text) !important;
}

.visualizer {
  margin-left: 3dvw;
  width: 10dvw;
  height: 3.5dvw;

  background-color: #cfc6a7;
  border-radius: 43px;
}

.coverImg {
  height: 30dvh;
  width: 30dvh;
  object-fit: cover;

  position: relative;
  left: 7.5dvh;
  margin: 0;

  border: 0.3rem solid whitesmoke;
  box-shadow: 0 8px 20px var(--shadow);
}

.channelName {
  font-size: 1.5rem;
  text-align: center;
  max-width: 35dvw;
  white-space: nowrap;
  overflow: hidden;
}

.vinyl {
  height: 35dvh;
  width: 35dvh;

  position: relative;
  right: 10dvh;
  /* bottom: 20dvh; */
  margin: 0;
  z-index: -1;
  animation: spinningDisk 20s linear infinite;
  filter: drop-shadow(4px 4px 10px var(--shadow));
}

@keyframes spinningDisk {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.musicSet,
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.down {
  display: flex;
  justify-content: space-evenly;
}

button {
  all: unset;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

button:active {
  scale: 0.9;
}

.previousBtn {
  margin-left: 0.5rem;
}

.nextBtn {
  margin-right: 0.5rem;
}

.mediaControls {
  background-color: #573928;
  width: 25%;
}

.playPauseBtn {
  font-size: 2rem;
}

.volumeSliderPill {
  background-color: #705241b7;
  width: fit-content;
}

.mediaControls,
.volumeSliderPill {
  display: flex;
  height: 8dvh;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 43px;
}

.volumeIconContainer {
  font-size: 1.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 3rem;
  color: burlywood;
  margin: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeSlider {
  appearance: none;
  width: 15dvw;
  height: 6px;
  margin-right: 1.5rem;
  border-radius: 999px;
  background: #cfcaa555;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* The draggable knob */
.volumeSlider::-webkit-slider-thumb {
  border: 3px solid #705241;
}

/* Firefox */
.volumeSlider::-moz-range-thumb {
  border: none;
}

.volumeSlider::-moz-range-thumb,
.volumeSlider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;
  background: burlywood;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.31, 1.42, 1, 1.01);
}

.volumeSlider:active {
  scale: 1.1;
}

.volumeSlider::-webkit-slider-thumb:active,
.volumeSlider::-moz-range-thumb:active {
  border-radius: 3px;
  opacity: 50%;
}

.fa-solid {
  color: #e0cfab;
}

.line {
  margin: auto;
  opacity: 70%;
  width: 0.2rem;
  background-color: #263023;
  height: 75dvh;
  border-radius: 43px;
}

/* Right */

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.searchBar {
  background-color: var(--accent);
  height: 8dvh;
  border-radius: 35px;
  width: 85%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.fa-magnifying-glass {
  color: var(--text);
  margin: 1rem;
  font-size: 1.2rem;
  aspect-ratio: 1/1;
}
.search {
  all: unset;
  height: 100%;
  font-family: "Beth Ellen", cursive;
}

.resultList {
  background-color: var(--surface);
  width: 85%;
  height: 60dvh;
  border-radius: 35px;
  overflow: scroll;
}

.stationIcon {
  aspect-ratio: 1/1;
  background-color: var(--bg);
  height: 100%;
  border-radius: 15px;
}

.stationCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 10dvh;
  width: 94%;
  max-width: 94%;
  margin: 3%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  padding: 2%;
  border-radius: 25px;
}

.stationCard:hover {
  background-color: #9e946b;
  scale: 1.015;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.stationInfo {
  margin-left: 5%;
  min-width: 0;
  text-overflow: ellipsis;
}

.stationName {
  max-width: 35dvw;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadata {
  opacity: 60%;
  font-size: 0.8rem;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 25dvw;
  white-space: nowrap;
  overflow: hidden;
}
