* {
  font-family: "Schoolbell", cursive;
  color: var(--text);
  font-weight: 600;
}

:root {
  --bg: #9a8c67;
  --surface: #cfc6a7;
  --text: #705241;
  --accent: #cfc6a7;
  --shadow: rgba(0, 0, 0, 0.3);
}

h1,
h2 {
  font-family: "Beth Ellen", cursive;
  font-size: 0.8rem;

  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 50% auto 50%;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--bg);
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top {
  margin: 0 auto 0 auto;
  width: 40dvw;
  display: flex;
  justify-content: left;
}

.notchPill {
  border-radius: 50px;
  width: 20.5dvw;
  height: 3.5dvw;
  background-color: var(--accent);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 150px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroPill,
.timePill {
  height: 3dvw;
  border-radius: 50px;
  background-color: var(--accent);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroPill {
  box-shadow: var(--shadow) 0px 0px 20px 1px;
  width: 8dvw;
}

.timePill {
  justify-content: space-around;
  box-shadow: var(--shadow) 0px 0px 20px 1px;
  width: 11dvw;
}

.fa-radio {
  color: var(--text) !important;
}

.visualizer {
  margin-left: 3dvw;
  width: 10dvw;
  height: 3.5dvw;

  background-color: #cfc6a7;
  border-radius: 50px;
}

.coverImg {
  height: 30dvh;
  width: 30dvh;
  object-fit: cover;

  position: relative;
  left: 7.5dvh;
  margin: 0;

  border: 0.3rem solid whitesmoke;
  box-shadow: 0 8px 20px var(--shadow);
}

.channelName {
  font-size: 1.5rem;
  text-align: center;
}

.vinyl {
  height: 35dvh;
  width: 35dvh;

  position: relative;
  right: 10dvh;
  /* bottom: 20dvh; */
  margin: 0;
  z-index: -1;
  animation: spinningDisk 20s linear infinite;
}

@keyframes spinningDisk {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.musicSet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.down {
  display: flex;
  justify-content: space-evenly;
}

button {
  all: unset;
}

.previousBtn {
  margin-left: 0.5rem;
}

.nextBtn {
  margin-right: 0.5rem;
}

.mediaControls {
  background-color: #573928;
  width: 25%;
}

.playPauseBtn {
  font-size: 2rem;
}

.volumeSliderPill {
  background-color: #705241b7;
  width: fit-content;
}

.mediaControls,
.volumeSliderPill {
  display: flex;
  height: 8dvh;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
}

.volumeIcon {
  font-size: 1.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 3rem;
  color: burlywood;
  margin: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeSlider {
  margin-right: 1.5rem;
  width: 15dvw;
}

.fa-solid {
  color: #e0cfab;
}

.line {
  margin: auto;
  opacity: 70%;
  width: 0.2rem;
  background-color: #263023;
  height: 80dvh;
  border-radius: 50px;
}
